Arch/
Target/Linux_amd64/Examples/Obj/*.c
Target/Linux_amd64/Examples/Obj/*.Oh
Target/Linux_amd64/Examples/Obj/*.sym
Target/Linux_amd64/Examples/*.so
Target/Linux_amd64/Examples/BlitBmp*
Target/Linux_amd64/Examples/Book
Target/Linux_amd64/Examples/Cnezinka
Target/Linux_amd64/Examples/Elo4ka
Target/Linux_amd64/Examples/Gradient24
Target/Linux_amd64/Examples/HelloWorld
Target/Linux_amd64/Examples/Mandelbrot*
Target/Linux_amd64/Examples/MyDLLuse
Target/Linux_amd64/Examples/TestHttp
Target/Linux_amd64/graphviz
Target/Linux_amd64/ocat
Target/Linux_amd64/odc2txt
Target/Linux_amd64/oef
Target/Linux_amd64/showdef
Target/Linux_amd64/Lib/*.a
Target/Linux_armv7/Examples/Obj/*.c
Target/Linux_armv7/Examples/Obj/*.Oh
Target/Linux_armv7/Examples/Obj/*.sym
Target/Linux_armv7/Examples/*.so
Target/Linux_armv7/Examples/BlitBmp*
Target/Linux_armv7/Examples/Book
Target/Linux_armv7/Examples/Cnezinka
Target/Linux_armv7/Examples/Elo4ka
Target/Linux_armv7/Examples/Gradient24
Target/Linux_armv7/Examples/HelloWorld
Target/Linux_armv7/Examples/Mandelbrot*
Target/Linux_armv7/Examples/MyDLLuse
Target/Linux_armv7/Examples/TestHttp
Target/Linux_armv7/graphviz
Target/Linux_armv7/ocat
Target/Linux_armv7/odc2txt
Target/Linux_armv7/oef
Target/Linux_armv7/showdef
Target/Linux_armv7/Lib/*.a
Target/Linux_i386/Examples/Obj/*.c
Target/Linux_i386/Examples/Obj/*.Oh
Target/Linux_i386/Examples/Obj/*.sym
Target/Linux_i386/Examples/*.so
Target/Linux_i386/Examples/BlitBmp*
Target/Linux_i386/Examples/Book
Target/Linux_i386/Examples/Cnezinka
Target/Linux_i386/Examples/Elo4ka
Target/Linux_i386/Examples/Gradient24
Target/Linux_i386/Examples/HelloWorld
Target/Linux_i386/Examples/Mandelbrot*
Target/Linux_i386/Examples/MyDLLuse
Target/Linux_i386/Examples/TestHttp
Target/Linux_i386/graphviz
Target/Linux_i386/ocat
Target/Linux_i386/odc2txt
Target/Linux_i386/oef
Target/Linux_i386/showdef
Target/Linux_i386/Lib/*.a

Target/macOS/Examples/Obj/*.c
Target/macOS/Examples/Obj/*.Oh
Target/macOS/Examples/Obj/*.sym
Target/macOS/Examples/*.so
Target/macOS/Examples/BlitBmp*
Target/macOS/Examples/Book
Target/macOS/Examples/Cnezinka
Target/macOS/Examples/Elo4ka
Target/macOS/Examples/Gradient24
Target/macOS/Examples/HelloWorld
Target/macOS/Examples/Mandelbrot*
Target/macOS/Examples/MyDLLuse
Target/macOS/Examples/TestHttp
Target/macOS/graphviz
Target/macOS/ocat
Target/macOS/odc2txt
Target/macOS/oef
Target/macOS/showdef
Target/macOS/Lib/*.a
Target/Win32/Examples/Obj/*.a
Target/Win32/Examples/Obj/*.c
Target/Win32/Examples/Obj/*.Oh
Target/Win32/Examples/Obj/*.sym
Target/Win32/Examples/*.exe
Target/Win32/Examples/*.dll
Target/Win32/Lib/Obj/
Target/Win32/Lib/*.a
Target/Win32/Obj/
Target/Win32/Sym/
Target/Win32/*.exe
Target/Win64/Examples/Obj/*.a
Target/Win64/Examples/Obj/*.c
Target/Win64/Examples/Obj/*.Oh
Target/Win64/Examples/Obj/*.sym
Target/Win64/Examples/*.exe
Target/Win64/Examples/*.dll
Target/Win64/Lib/Obj/
Target/Win64/Lib/*.a
Target/Win64/Obj/
Target/Win64/Sym/
Target/Win64/*.exe
+Git.bat
