Arch/
Code/
Bin/ocat.exe
Bin/showdef.exe
Lib/Obj/
Lib/Obj64/
Lib/Sym/
Lib/Sym64/
Lib/*.a
Lib/Test/*.c
Lib/Test/*.exe
Lib/Test64/*.c
Lib/Test64/*.exe
Linux_arm/ocat
Linux_arm/showdef
Linux_arm/Lib/*.a
Linux_x86/ocat
Linux_x86/showdef
Linux_x86/Lib/*.a
Linux_x64/ocat
Linux_x64/showdef
Linux_x64/Lib/*.a
Obj/
Obj64/
Samples/*.c
Samples/*.exe
Samples64/*.c
Samples64/*.exe
Sym/
Sym64/
ToDo/
Work/*.c
Work/*.exe
*.sbm
+Git.bat
